.card {
  padding: 1rem 2rem;
  width: 50rem;
  background-color: white;
  margin: 0 auto;
  border-radius: 0.5rem;
}

.list-container {
  list-style: none;
}

.list-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 0;
  border-bottom: 1px solid #ccc;
  &:last-of-type {
    border-bottom: none;
  }
}

.taks-title {
  font-size: 1.5rem;
  color: rgb(85, 85, 85);
}

.delete-icon {
  color: rgb(238, 69, 69);
  margin-left: 1.5rem;
  &:hover {
    color: #ccc;
    cursor: pointer;
  }
}

.edit-icon {
  color: #999;
  margin-left: 10px;
  &:hover {
    color: #ccc;
    cursor: pointer;
  }
}

.btn-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.no-task-msg {
  width: max-content;
  margin: 10px auto;
  color: rgb(85, 85, 85);
  padding-bottom: 5px;
  border-bottom: 1px solid rgb(238, 69, 69);
}
