.card {
  padding: 2rem;
  width: 50rem;
  background-color: white;
  margin: 1rem auto 0 auto;
  border-radius: 0.6rem;
  margin-bottom: 2rem;
}
.label {
  color: #999;
}

.input {
  font-family: inherit;
  font-size: 1.5rem;
  width: 100%;
  outline: none;
  padding: 0.5rem 2rem;
  border: none;
  border: 1px solid #ccc;
  border-radius: 1.5rem;
  margin: 1rem 0 2rem 0;
  transition: all 0.1s;
  &:focus {
    background-color: #fff;
    border: 1px solid #999;
  }
}

.btn-container {
  justify-content: flex;
  align-items: center;
}

.btn {
  font-family: inherit;
  font-weight: 100;
  font-size: 1.5rem;
  padding: 0.6rem 1.2rem;
  border-radius: 0.6rem;
  outline: none;
  transition: all 0.1s;
  &:hover {
    cursor: pointer;
  }
}

.add-btn {
  margin-right: 15px;
  color: rgb(119, 112, 254);
  background-color: white;
  border: 1px solid rgb(119, 112, 254);
  &:hover {
    border: 1px solid #999;
    background-color: #999;
    color: white;
  }
}

.edit-btn {
  margin-right: 15px;
  color: rgb(233, 149, 47);
  background-color: white;
  border: 1px solid rgb(233, 149, 47);
  &:hover {
    border: 1px solid #999;
    background-color: #999;
    color: white;
  }
}

.disabled-btn {
  margin-right: 15px;
  border: 1px solid #ccc;
}

.clear-btn {
  color: white;
  background-color: rgb(119, 112, 254);
  border: 1px solid rgb(119, 112, 254);
  &:hover {
    border: 1px solid #999;
    background-color: #999;
    color: white;
  }
}
