<div class="card">
  <form>
    <div class="input-field">
      <label *ngIf="!task.id" class="label" for="task">Add new task</label>
      <label *ngIf="task.id" class="label" for="task">Edit task</label>
      <input
        class="input"
        [value]="task.name"
        (input)="updateTask($event.target.value)"
        type="text"
        id="task"
      />
    </div>
    <div class="btn-container">
      <button
        *ngIf="task.name && !task.id"
        (click)="addTask($event)"
        class="add-btn btn"
      >
        Add
      </button>
      <button *ngIf="task.id" (click)="editTask($event)" class="edit-btn btn">
        Edit
      </button>
      <button *ngIf="!task.name" class="disabled-btn btn" disabled>Add</button>
      <button
        *ngIf="task.name"
        class="clear-btn btn"
        (click)="clearInput($event)"
      >
        Cancel
      </button>
    </div>
  </form>
</div>
